*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}

@font-face {
  font-family: 'MongoAC';
  src: url('@/src/assets/fonts/Mango-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Capriola';
  src: url('@/src/assets/fonts/Capriola-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chewy';
  src: url('@/src/assets/fonts/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
